Raspberry/nodes_microbit
[{"id":"fd738279.9f674","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c8969dcd.1bfc1","type":"function","z":"fd738279.9f674","name":"Find IDs","func":"var BBCMicrobit = global.get('bbcmicrobit');\n\nconsole.log('Discovering microbit...');\nBBCMicrobit.discoverAll(onDiscover);\n\nfunction onDiscover(microbit) {\n    console.log('\\tMicrobit discovered! id = %s, address = %s', microbit.id, microbit.address);\n    node.send({payload:microbit});\n}\n","outputs":1,"noerr":0,"x":120,"y":60,"wires":[[]]},{"id":"c8e07888.ed0e68","type":"function","z":"fd738279.9f674","name":"Microbit","func":"var BBCMicrobit = global.get('bbcmicrobit');\n\nvar BUTTON_VALUE_MAPPER = ['Not Pressed', 'Pressed', 'Long Press'];\nvar pin0 = 0; var pin1 = 1; var pin2 = 2;\nvar id = msg.payload.microbitID;\n\nconsole.log('Discovering microbit...');\n//BBCMicrobit.discover(function(microbit) \nBBCMicrobit.discoverById(id, function(microbit) {console.log('\\tMicrobit discovered! id = %s, address = %s', microbit.id, microbit.address);\n\n    console.log('Connecting to microbit...');\n    microbit.connectAndSetUp(function() {\n        console.log('\\tMicrobit connected!');\n        node.send([null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, msg]);\n        \n        microbit.on('disconnect', function() {\n            console.log('\\tMicrobit disconnected!');\n            node.send([null, null, null, null, null, null, null, null, null, null, null, null, null, null, msg, null]);\n        });\n\n        if (msg.payload.accelerometer === true){\n            \n            microbit.on('accelerometerChange', function(x, y, z) {console.log('\\tAccelerometer = %d %d %d G', x, y, z);\n                node.send([{payload:x}, {payload:y}, {payload:z}, null, null, null, null, null, null, null, null, null, null, null, null, null]);\n            });\n                \n            console.log('Setting accelerometer period to %d ms...', msg.payload.period);\n            microbit.writeAccelerometerPeriod(msg.payload.period, function() {console.log('\\tAccelerometer period set!');\n                        \n                console.log('Subscribing to accelerometer...');\n                microbit.subscribeAccelerometer(id , function() {console.log('\\tSubscribed to accelerometer!');});\n            }); \n        }\n        \n        if (msg.payload.buttons === true){\n            \n            console.log('Subscribing to buttons...');\n            microbit.subscribeButtons(id, function() {console.log('\\tSubscribed to buttons!');});\n\n            microbit.on('buttonAChange', function(valueA) {console.log('\\tButton A: ', BUTTON_VALUE_MAPPER[valueA]);\n                node.send([null, null, null, {payload: BUTTON_VALUE_MAPPER[valueA]}, null, null, null, null, null, null, null, null, null, null, null, null]);\n            });\n            \n            microbit.on('buttonBChange', function(valueB) {console.log('\\tButton B: ', BUTTON_VALUE_MAPPER[valueB]);\n                node.send([null, null, null, null, {payload: BUTTON_VALUE_MAPPER[valueB]}, null, null, null, null, null, null, null, null, null, null, null]);\n            });\n        }\n        \n        if ((msg.payload.pin0 === true)||(msg.payload.pin1 === true)||(msg.payload.pin2 === true)){\n            \n            console.log('Subscribing to pin data...');\n            microbit.subscribePinData(id, function() {console.log('\\tSubscribed to pin data!');}); \n            \n            if(msg.payload.pin0 === true){\n                console.log('Setting pin0 %d as input...', pin0);\n                microbit.pinInput(pin0, function() {console.log('\\tPin0 set as input!');\n\n                    console.log('Setting pin0 %d as analog...', pin0);\n                    microbit.pinAnalog(pin0, function() {console.log('\\tPin0 set as analog!');});\n                });\n                \n                microbit.on('pinDataChange', function(pin0, value0) {console.log('\\tPin 0: value = %d', pin0, value0);\n                    node.send([null, null, null, null, null, {payload:value0}, null, null, null, null, null, null, null, null, null, null]);\n                });\n            }\n            \n            if(msg.payload.pin1 === true){\n                console.log('Setting pin1 %d as input...', pin1);\n                microbit.pinInput(pin1, function() {console.log('\\tPin1 set as input!');\n\n                    console.log('Setting pin1 %d as analog...', pin1);\n                    microbit.pinAnalog(pin1, function() {console.log('\\tPin1 set as analog!');});\n                });\n                \n                microbit.on('pinDataChange', function(pin1, value1) {console.log('\\tPin 1: value = %d', pin1, value1);\n                    node.send([null, null, null, null, null, null, {payload:value1}, null, null, null, null, null, null, null, null, null]);\n                });\n            }\n            \n            if(msg.payload.pin2 === true){\n                console.log('Setting pin2 %d as input...', pin2);\n                microbit.pinInput(pin2, function() {console.log('\\tPin2 set as input!');\n\n                    console.log('Setting pin2 %d as analog...', pin2);\n                    microbit.pinAnalog(pin2, function() {console.log('\\tPin2 set as analog!');});\n                \n                    microbit.on('pinDataChange', function(pin2, value2) {console.log('\\tPin 2: value = %d', pin2, value2);\n                        node.send([null, null, null, null, null, null, null, {payload:value2}, null, null, null, null, null, null, null, null]);\n                    });\n                });\n            }\n        }\n\n        if (msg.payload.magnetometer === true){\n            console.log('Subscribing to magnetometer...');\n            microbit.subscribeMagnetometer(id, function() {console.log('\\tSubscribed to magnetometer!');\n\n                console.log('Setting magnetometer period to %d ms...', msg.payload.period);\n                microbit.writeMagnetometerPeriod(msg.payload.period, function() {console.log('\\tMagnetometer period set!');});\n            });\n            \n            microbit.on('magnetometerChange', function(x, y, z) {console.log('\\tMagnetometer: %d %d %d', x, y, z);\n                node.send([null, null, null, null, null, null, null, null, {payload:x}, {payload:y}, {payload:z}, null, null, null, null, null]);\n            });\n        }\n\n        if (msg.payload.magnetometerBearing === true){\n            \n            console.log('Subscribing to magnetometer bearing...');\n            microbit.subscribeMagnetometerBearing(id, function() {console.log('\\tSubscribed to magnetometer bearing!');\n\n                console.log('Setting magnetometer period to %d ms...', msg.payload.period);\n                microbit.writeMagnetometerPeriod(msg.payload.period, function() {console.log('\\tMagnetometer period set!');});\n            }); \n            \n            microbit.on('magnetometerBearingChange', function(bearing) {console.log('\\tMagnetometer bearing = %d', bearing);\n                 node.send([null, null, null, null, null, null, null, null, null, null, null, {payload:bearing}, null, null, null, null]);\n            });\n        }\n\n        if (msg.payload.temperature === true){\n            microbit.on('temperatureChange', function(temperature) {console.log('\\tTemperature = %d °C', temperature);\n                node.send([null, null, null, null, null, null, null, null, null, null, null, null, {payload:temperature}, null, null, null]);\n            });\n            \n            console.log('Setting temperature period to %d ms...', msg.payload.period);\n            microbit.writeTemperaturePeriod(msg.payload.period, function() {console.log('\\tTemperature period set!');\n            \n                console.log('Subscribing to temperature...');\n                microbit.subscribeTemperature(id, function() {console.log('\\tSubscribed to temperature!');});\n            });\n        }\n\n        if (msg.payload.uart === true){\n            microbit.on('uartData', function(data) {console.log('\\tUart data: %s', data);\n                node.send([null, null, null, null, null, null, null, null, null, null, null, null, null, {payload:data}, null, null]);\n            });\n            \n            console.log('Subscribing to Uart...');\n            microbit.subscribeUart(id, function() {console.log('Subscribed to Uart!');});\n        }\n\n    });\n});\n\nreturn msg;","outputs":16,"noerr":0,"x":120,"y":240,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"1a3111e9.e384de","type":"function","z":"fd738279.9f674","name":"ParamMicrobit","func":"msg.payload = {};\nmsg.payload.microbitID = \"e5fd0123ed24\"; \nmsg.payload.accelerometer = true;\nmsg.payload.buttons = false;\nmsg.payload.pin0 = false; \nmsg.payload.pin1 = false;\nmsg.payload.pin2 = false;\nmsg.payload.magnetometer = false;\nmsg.payload.magnetometerBearing = false;\nmsg.payload.temperature = false;\nmsg.payload.uart = false;\nmsg.payload.period = 160; //Support values are: 1, 2, 5, 10, 20, 80, 160, or 640 ms.\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":140,"y":100,"wires":[[]]}]
